<h1>Products table view</h1>
<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-right">Id</th>
      <th>Title</th>
      <th>Sku</th>
      <th class="text-right">Price</th>
      <th class="text-right">BasePrice</th>
      <th class="text-center">Stocked</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td class="text-right">{{product.id}}</td>
      <td>{{product.title}}</td>
      <td>{{product.sku}}</td>
      <td class="text-right">{{product.price | price }}</td>
      <td class="text-right">{{product.basePrice | price : '$' : 3 }}</td>
      <td class="text-center">
        <input type="checkbox" [checked]="product.stocked" onclick="return false;" />
      </td>
    </tr>
  </tbody>
</table>
