<h1>Products table view</h1>
<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Sku</th>
      <th>Title</th>
      <th>Price</th>
      <th>BasePrice</th>
      <th>Stocked</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.id}}</td>
      <td>{{product.sku}}</td>
      <td>{{product.title}}</td>
      <td>{{product.price}}</td>
      <td>{{product.basePrice}}</td>
      <td>{{product.stocked}}</td>
    </tr>
  </tbody>
</table>
