<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{product.id}}. {{product.title}}</h3>
  </div>
  <div class="panel-body">
    <div class="col col-sm-2 col-xs-12">
      <img src="{{product.image}}" class="img-responsive">
    </div>
    <div class="container col col-sm-10 col-xs-12">
      <dl>
        <dt>Sku</dt>
        <dd>{{product.sku}}</dd>
        <dt>Desc</dt>
        <dd>{{product.desc}}</dd>
        <dt>Stocked</dt>
        <dd>{{product.stocked}}</dd>
        <dt>Price</dt>
        <dd>{{product.price}}</dd>
      </dl>
    </div>
  </div>
</div>
